@model LanchoneteSprint2.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoUn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoUn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadProduto.CadProdutoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.FornecedorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdutoId">Edit</a> |
    <a asp-action="Index">Voltar pra lista</a>
</div>
